<form (ngSubmit)="onCreateTicket()" #form>
  <app-controle label="Title">
    <input 
    type="text" 
    id="title" 
    name="title"  
    #input 
    [(ngModel)]="enterTitle"/>
  </app-controle>

  <app-controle label="Request">
    <textarea 
    id="request" 
    name="request"  
    #input 
    rows="3"
    [(ngModel)]="enterText"
    ></textarea>
  </app-controle>

  <p>
    <button type="submit" appButton>
        Create Ticket
        <span ngProjectAs="icon"> 📨 </span>
    </button>
  </p>
</form>